
<div class="actions">
    <div class="image-placeholder">
      <%=image_tag('white_cow.png')%><br/><br/>
      <b>Upload Image</b><br/>
      <div class="upload_subtext"></div>
    </div>

    <%= form_for @livestock, :html => {:multipart => true } do |form| %>
         <%= form.file_field :photo, :class => "image-upload"%>
         <!-- TAG -->
         <%= form.text_field :tag, :class => "form-control modal-input",    :placeholder => "Tag #"%>
         <!-- WEIGHT -->
         <%= form.text_field :weight, :class => "form-control modal-input",    :placeholder => "Live Weight (kg)"%>
         <!-- GRADE -->
         <%= form.select :grade, ["1", "2", "3","4","5" ], :prompt => 'Grade'%>
         <!-- BREED -->
         <%= form.select :breed, ["Zebu", "Sahiwal", "Boran","Mixed","Other" ], :prompt => 'Breed'%>
         <!-- AGE -->
          <%= form.select :age, ["0-1 Years", "1-2 Years", "2-3 Years","4-5 Years",">5 Years"], :prompt => 'Age'%>
          <!-- GENDER -->
          <%= form.select :gender, ["Male","Female"], :prompt => 'Gender'%>
         <%= form.text_field :delivery_date, :class => "form-control modal-input", :placeholder => "Delivery Date" %>
         <%= form.text_field :price, :class => "form-control modal-input",         :placeholder => "Price" %>
         <%= form.text_field :seller, :class => "form-control modal-input",        :placeholder => "Seller" %>
         <%= form.text_field :email, :class => "form-control modal-input",         :placeholder => "Email" %>
         <%= form.text_field :phone, :class => "form-control modal-input",         :placeholder => "Phone" %>
         <%= form.text_field :location, :class => "form-control modal-input",         :placeholder => "Sub-country" %>
         <%= form.submit 'Create', :class => "btn-primary step-one", :style => "width: 100%"%>
    <% end %>
  </div>
<script>


$(".image-placeholder").click(function(){
  $(".image-upload").click();
  $(".upload_subtext").text("Success! Click again to upload another photo.");
})

</script>