
<div class="actions">
    <div class="image-placeholder">
      <%=image_tag('white_cow.png')%><br/><br/>
      <b>Upload Image</b><br/>
      <div class="upload_subtext">We recommend at least 3 images.</div>
    </div>

    <%= form_for @livestock, :html => {:multipart => true } do |form| %>
         <%= form.file_field :photo %>
         <%= form.text_field :tag, :class => "form-control modal-input",    :placeholder => "Tag #"%>
         <%= form.text_field :weight, :class => "form-control modal-input",    :placeholder => "Live Weight (kg)"%>
         <%= form.text_field :grade, :class => "form-control modal-input",  :placeholder => "Grade"%>
         <%= form.text_field :breed, :class => "form-control modal-input",  :placeholder => "Breed"%>
         <%= form.text_field :age, :class => "form-control modal-input",    :placeholder => "Age"%>
         <%= form.text_field :gender, :class => "form-control modal-input",        :placeholder => "Gender" %>
         <%= form.text_field :delivery_date, :class => "form-control modal-input", :placeholder => "Earliest Deliery Date" %>
         <%= form.text_field :price, :class => "form-control modal-input",         :placeholder => "Price" %>
         <%= form.text_field :seller, :class => "form-control modal-input",        :placeholder => "Seller" %>
         <%= form.text_field :email, :class => "form-control modal-input",         :placeholder => "Email" %>
         <%= form.submit 'Create', :class => "btn-primary step-one", :style => "width: 100%"%>
    <% end %>
  </div>

<script>


$(".image-placeholder").click(function(){
  $(".image-upload").click();
  $(".upload_subtext").text("Success! Click again to upload another photo.");
})

</script>