<h1 style="margin-left: 20px;">Listed Animals</h1>

<style>

.leaderboard-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.leaderboard-header,
.leaderboard-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #EFEFEF;
}

.leaderboard-header span {
  font-weight: bold;
}

.leaderboard-header span,
.leaderboard-item span {
  padding-left: 25px;
  display: inline-block;
  width: 100%;
  max-width: 120px;
}

.leaderboard-header .tag,
.leaderboard-item .tag {
  max-width: 80px;
}

.leaderboard-header .age,
.leaderboard-item .age {
  max-width: 120px;
}

.leaderboard-header .breed,
.leaderboard-item .breed {
  max-width: 100px;
}

.leaderboard-header .grade,
.leaderboard-item .grade {
  max-width: 80px;
}

.leaderboard-header .weight,
.leaderboard-item .weight{
  max-width: 100px;
}

.leaderboard-header .gender,
.leaderboard-item .gender{
  max-width: 100px;
}

.leaderboard-header .email,
.leaderboard-item .email{
  max-width: 200px;
}

.actions a{
  color: black !important;
}

</style>

<div class="leaderboard-container"> 
  <div class="leaderboard-header">
      <span class="tag">Tag #</span>
      <span class="age">Age</span>
      <span class="breed">Breed</span>
      <span class="grade">Grade</span>
      <span class="weight">Weight</span>
      <span class="gender">Gender</span>
      <span class="delivery_date">Delivery Date</span>
      <span class="price">Price</span>
      <span class="seller">Seller</span>
      <span class="email">Email</span>
      <span class="phone">Phone</span>
      <span class="location">Location</span>
      <span class="actions">Actions</span>
  </div>
  <% @livestocks.each do |livestock| %>
    <div class="leaderboard-item">
      <span class="tag"><%= livestock.tag %></span>
      <span class="age"><%= livestock.age %></span>
      <span class="breed"><%= livestock.breed %></span>
      <span class="grade"><%= livestock.weight %></span>
      <span class="weight"><%= livestock.grade %></span>
      <span class="gender"><%= livestock.gender %></span>
      <span class="delivery_date"><%= livestock.delivery_date %></span>
      <span class="price"><%= livestock.price %></span>
      <span class="seller"><%= livestock.seller %></span>
      <span class="email"><%= livestock.email %></span>
      <span class="phone"><%= livestock.phone %></span>
      <span class="location"><%= livestock.location %></span>
      <span class="actions">
        <%= link_to 'Edit', edit_livestock_path(livestock) %>
        <%= link_to 'Destroy', livestock, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </div>
  <% end %>
  <br/><br/>
  <span class="actions" style="margin-left: 20px; text-decoration: underline">
    <%= link_to 'New Livestock', new_livestock_path %>
  </span>
</div>

