<style>

.cow-container {
  width: 100%;
  padding: 40px;
}

.cow-container img {
  border-radius: 4px;
  margin: 0 auto;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.feed-container {
  width: 100%;
  margin: 0 auto;
  display: block;
}

p {
  margin: 10px 0px;
  font-size: 16px;
  font-weight: normal;
  padding-right: 20px;
  display: inline !important;
}

a,
a:hover,
a:visited {
  color: white !important;
  text-decoration: none;
  background: none;
}

label {
  font-size: 16px;
  margin-left: 20px;
  padding-right: 5px;
}

h2,p {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

h4 {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}

.cow-container:nth-child(odd) {
  background-color: #EFEFEF !important;
}

.btn-primary {
  height: 45px !important;
  color: white !important;
}

.pagination {
  margin-top: 40px;
  padding-left: 30px;
}

.pagination span,
.pagination a {
  color: white !important;
  background-color: #39BAF1;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  margin: 0px 10px;
  width: 200px !important;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

span.page {
  padding: 10px 0px;
  display: none;
}

span.page.current {
  background-color: black;
  padding: 10px 22px;
}

span.page.gap {
  padding: 10px 20px;
}

.last, 
.first {
  display: none;
}

</style>

<div class="container-fluid">
    <div class="jumbotron" style="padding: 10px">
        <h4 style="color: white; text-align: center">MIFUGO TRADE</h4>
    </div>

    <div class="feed-container">

      <% @livestocks.each do |livestock| %>
        <div class="cow-container">
          <h2>Tag #<%=livestock.tag%></h2>
          <img src="<%= livestock.photo %>"/>
          <span>
            <label style="margin-left: 0px">Breed</label>
            <p><%=livestock.breed%></p>
          </span>
          <span>
            <label>Grade</label>
            <p><%=livestock.grade%></p>
          </span>
          <span><br/><br/>
            <label style="margin-left: 0px">Weight</label>
            <p><%=livestock.weight%>kg</p>
          </span>
          <span>
            <label>Age</label>
            <p><%=livestock.age%> Years Old</p>
          </span>
          <span><br/><br/>
            <label style="margin-left: 0px">Gender</label>
            <p><%=livestock.gender%></p>
          </span>
          <span>
            <label>Location</label>
            <p><%=livestock.location%></p>
          </span><br/><br/><br/>
          <%=link_to "View", livestock_path(livestock), :class => "btn btn-primary" %>
        </div>
      <% end %>

     <%=paginate @livestocks %>
    </div>
</div>
