<style>

body {
  background-color: #369338;
}

.home-buttons {
  text-align: center;
  display: block;
}

.home-buttons a {
  vertical-align: middle;
  padding-top: 15px;
}

.home-container {
  padding-top: 400px;
}

</style>

<div id="user_nav">
  <%if user_signed_in? %>
    Signed in as <%= current_user.email %> Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path%> or <%= link_to "Sign in", new_user_session_path %>
  <% end %>

<div class="container-fluid">
    <div class="jumbotron" style="padding: 10px">
        <h4 style="color: white; text-align: center">Mifugo Trade</h4>
    </div>
    <div class="your-clock"></div>
    <div class="home-container">
      <div class="home-buttons">
        <%=link_to "Sellers", new_livestock_path, id: 'new' , class: "btn btn-primary", style: "width: 290px; margin-bottom: 20px" %></br>
        <%=link_to "Buyers", livestocks_feed_path, id: 'feed' , class: "btn btn-primary", style: "width: 290px; margin-bottom: 20px" %>
      </div>
    </div>
</div>

<script>

$(document).ready({
  var clock = $('.your-clock').FlipClock({});
})


</script>